{% extends 'base.html' %}
{% block content %}

  <h2>Registration Form</h2>


  <form action="/processed_form">
    <label> Register as a new user!:
        <input type="text" name="email" placeholder="email">
        <input type="text" name="pass" placeholder="password">

        <input type="submit" placeholder="submit">
    </label>
  </form>

  <br>
  <br>

  <form action="/login_form" method="POST">
    <label> Log In:
        <input type="text" name="email" placeholder="Enter your Email">
        <input type="text" name="pass" placeholder="Enter Password"> 
        <input type="submit">
    </label>
</form>




{% endblock %}

<!-- Taking in email and password to validate and/or update the db -->